@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins-semi";
  src: url("./fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("./fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter-bold";
  src: url("./fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Inter-medium";
  src: url("./fonts/Inter/static/Inter-Medium.ttf");
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}
body {
  font-family: "Poppins";
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
.container {
  width: 1130px;
  padding: 0 15px;
  margin: 0 auto;
}
header {
  background: linear-gradient(155.28deg, #383638 2.06%, #0b0b0b 33.08%);
}
.header-section {
  display: flex;
  align-items: center;
}
header .header-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .menu {
  display: flex;
  align-items: center;
  gap: 27px;
}

header .dropdown {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
}
.dropdown_menu {
  position: absolute;
  background-color: yellow;
  width: 100px;
  padding: 10px;
  top: 40px;
  display: none;
}
header .menu a {
  color: #8b8e99;
  font-weight: 500px;
  padding: 10px 0;
  display: block;
}
/* header .dropdown:hover ~ .dropdown_menu {
  display: block;
} */
header .dropdown:hover svg {
  transform: rotate(180deg);
}
.header_btns button {
  position: relative;
  background: none;
  border: none;
}
.header_btns button .yumaloqcha {
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: #3858d6;
  color: white;
  padding-top: 1px;
  border-radius: 100%;
  font-size: 10px;
  font-weight: 500;
  left: 10px;
  top: -4px;
}
/* ----------------- DISCOVER -------------------------------------- */

.discover_section {
  padding: 142px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
}
.discover_section h1 {
  color: white;
  font-size: 64px;
}
.discover_section p {
  color: #8b8e99;
  font-weight: 500;
  margin-bottom: 47px;
}
.discover_section input {
  width: 443px;
  padding: 20px 110px 20px 50px;
  border-radius: 15px;
}
/* ::placeholder {
} */
.discover_section input:focus {
  outline: none;
}
.discover_section button {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #3858d6;
  padding: 10px 16px;
  color: white;
  border: none;
  border-radius: 8px;
}
.discover_section form {
  position: relative;
}
.discover_section svg {
  position: absolute;
  top: 23px;
  left: 20px;
  color: #3858d6;
}
/* ---------------------------- Watches -------------------------------------------- */
.watches_section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 73px 0;
}
.watches_card {
  width: 354px;
  display: flex;
  align-items: center;
  gap: 26px;
  background-color: #f6f6f6;
  border-radius: 22px;
  padding: 46px 10px 57px 41px;
}
.watches_card h2 {
  font-size: 36px;
  font-family: "Inter";
}
.watches_card p {
  color: #8b8e99;
  font-weight: 500;
  font-size: 16px;
  font-family: "Inter";
}
/* ----------------------- Products ----------------------------- */
.products_section {
  text-align: center;

  margin-bottom: 135px;
}
.products_section button {
  font-family: "Poppins-semi";
  background-color: #3858d6;
  color: white;
  border: none;
  padding: 12px 50px;
  font-size: 18px;
  border-radius: 15px;
}
.products_section h3 {
  font-size: 16px;
  font-weight: 500;
  color: #3858d6;
  font-family: "Inter-medium";
}
.products_section h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1e1d1d;
  font-family: "Inter-bold";
  margin-bottom: 65px;
}
.products_card_img {
  width: 334px;
  background-color: #f6f6f6;
  padding: 29px 43px;
}
.products_card_img {
  margin: 0 auto;
}
.products_card_img button {
  width: 38px;
  height: 38px;
  background-color: blue;
  border: none;
  border-radius: 50%;
  padding: 9px 9px 7px 8px;
  display: none;
}
.products_card_img .like {
  background-color: #ff6b6b;
}
.card_buttons {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 8px;
  top: 10px;
  right: 30px;
}
.products_card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 64px;
}
.products_card:hover button {
  display: block;
}
.products_card span {
  color: #8b8e99;
  font-size: 20px;
  font-weight: 500;
  text-decoration: line-through;
}
.products_card h2 {
  font-weight: 600;
  font-style: 24px;
  color: #1e1d1d;
  margin-bottom: 8px;
}
.products_cards {
  display: grid;
  grid-template-columns: auto auto auto;
}
/* ------------------- Coment ------------------------------ */
.coment_section {
  text-align: center;
  margin-bottom: 135px;
}
.coment_cards {
  display: flex;
  justify-content: space-between;
  gap: 47px;
  margin-bottom: 42px;
}
.coment_card {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 22px;
  padding: 30px 34px;
  gap: 28px;
}
.coment_card div {
  text-align: left;
}
.coment_card div h3 {
  font-family: "Inter-bold";
  font-size: 24px;
  color: #1e1d1d;
  margin-bottom: 10px;
}
.coment_card div p {
  font-family: "Inter-medium";
  color: #8b8e99;
  margin-bottom: 10px;
}
.coment_section h3 {
  font-size: 16px;
  font-weight: 500;
  color: #3858d6;
  font-family: "Inter-medium";
}
.coment_section h2 {
  font-size: 36px;
  font-weight: 700;
  color: #1e1d1d;
  font-family: "Inter-bold";
  margin-bottom: 65px;
}
.circles {
  display: flex;
  gap: 11px;
  justify-content: center;
}
.circle {
  width: 18px;
  height: 18px;
  background-color: #d9d9d9;
  border-radius: 50%;
}
.circle:hover {
  background-color: #3858d6;
}
/* --------------------------- Subscribe --------------------------------------- */
.subscribe_section {
  display: flex;
  justify-content: space-between;
  background-color: #f6f6f6;
  align-items: center;
  padding: 33px 110px 43px 97px;
  margin-bottom: 91px;
}
.subscribe_section h2 {
  font-family: "Inter-bold";
  font-family: "Inter-medium";
  margin-bottom: 6px;
  font-size: 36px;
  color: #1e1d1d;
}
.subscribe_section p {
  font-family: "Inter-medium";
  color: #8b8e99;
  margin-bottom: 12px;
}

.subscribe_section input {
  width: 443px;
  padding: 20px 110px 20px 50px;
  border-radius: 15px;
  border: none;
}
::placeholder {
  font-family: "Poppins-semi";
  opacity: 70%;
  color: #8b8e99;
}
.subscribe_section input:focus {
  outline: none;
}
.subscribe_section form {
  position: relative;
}
.subscribe_section button {
  position: absolute;
  top: 9px;
  right: 12px;
  background-color: #3858d6;
  padding: 10px 16px;
  color: white;
  border: none;
  border-radius: 8px;
}
/* ------------------------- Footer --------------------------------- */
footer {
  padding: 23px 0;
  background-color: #0b0b0b;
  text-align: center;
}
footer p {
  font-family: "Poppins-semi";
  color: white;
}
